<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../CSS/dangky.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Quên Mật Khẩu</title>
</head>

<body ng-app="app">
  <div class="container" ng-controller="crt">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Lấy Lại Mật Khẩu</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputUser" class="form-control" ng-model="username" required autofocus />
                <label for="inputUser">Tài Khoản</label>
                <small class="form-text text-muted">*Tài khoản là bắt buộc</small>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" ng-model="email" required autofocus>
                <label for="inputEmail">Địa Chỉ Mail</label>
                <small class="form-text text-muted">*Email là bắt buộc</small>
              </div>
              <hr>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="QuenPass()">Quên Mật Khẩu</button>
              <a href="index.html"> <small class="form-text text-center">Trang chủ</small></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../JS/db/Students.js"></script>
<script>
  var app = angular.module("app", []);
  app.controller("crt", function ($scope) {
    $scope.listUser = Students;
      console.log($scope.listUser);
    $scope.QuenPass = function () {
      if ($scope.username != "" && $scope.email != "") {
        console.log($scope.username, $scope.email);
        for (var i = 0; i < $scope.listUser.length; i++) {
          if ($scope.username == $scope.listUser[i].username)
          console.log($scope.listUser[i].password);
            alert("Mật Khẩu của tài khoản này là: " +$scope.listUser[i].password);
          break;
        }
      }
    }
  })
</script>

</html>